<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>SCSS Flexbox Grid</title>
    <link rel="stylesheet" href="css/app.css">
    <style>
      html, body {
        padding: 0;
        margin: 0;
      }
    </style>
  </head>
  <body>

    <div class="ds-container" style="background-color: yellow;">
      <div class="ds-row">
        <div class="ds-col-12 ds-col-desktop-2">
          <div style="background-color: lightblue; padding: 1rem;">
            1
          </div>
        </div>
        <div class="ds-col-12 ds-col-desktop">
          <div style="background-color: lightblue; padding: 1rem;">
            2
          </div>
        </div>
        <div class="ds-col-12 ds-col-desktop-2">
          <div style="background-color: lightblue; padding: 1rem;">
            3
          </div>
        </div>
      </div>
    </div>

    <div class="ds-container ds-container-fixed" style="background-color: yellow;">
      <div class="ds-row">
        <div class="ds-col-12 ds-col-desktop-2">
          <div style="background-color: lightblue; padding: 1rem;">
            1
          </div>
        </div>
        <div class="ds-col-12 ds-col-desktop">
          <div style="background-color: lightblue; padding: 1rem;">
            2
          </div>
        </div>
        <div class="ds-col-12 ds-col-desktop-2">
          <div style="background-color: lightblue; padding: 1rem;">
            3
          </div>
        </div>
      </div>
    </div>

  </body>
</html>

