@import "mixins";

// Example Tokens
$tokens: (
  'size': (
    'breakpoint': (
      'mobile': 0,
      'tablet': 768px,
      'desktop': 1024px,
      'widescreen': 1280px,
      'extrawide': 1440px
    )
  )
);

// Grid Config
$prefix: 'ds-';

$global-grid-columns: 12 !default;
$global-gutter-width: 1rem !default;
$global-outer-margin: 1rem !default;
$global-fixed-width: 1200px !default;

// Import Flexgrid
@import "flexgrid";
